html {
  .astro,
  .html {
    background-color: #7f4932;
    transition: var(--transition-bg);
  }

  .maze {
    background-color: #0468fc;
    color: #ffffff;
    transition: var(--transition-bg), var(--transition-text);
  }

  .figma {
    background-color: #3b3b3b;
    color: #cfcfcf;
    transition: var(--transition-bg), var(--transition-text);
  }

  .illustrator {
    background-color: #7f6932;
    transition: var(--transition-bg), var(--transition-text);
  }
}

html.dark {
  .astro,
  .html {
    background-color: #ffbc96;
  }

  .maze {
    background-color: #89b6f9;
    color: #000;
  }

  .figma {
    background-color: #c4c4c4;
    color: #000;
  }

  .illustrator {
    background-color: #ffdd88;
  }
}
